.framed {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    border: 1px solid var(--border-color);
    max-width: 800px;
}

.logo {
    white-space: nowrap;
}

body.dark-theme {
    fill: #a9a9b3;
}

.material-design-icon, .font-awesome-icon, .svg-icon {
    vertical-align: sub;
}

blockquote {
    margin: 20px 0;
    border-left-color: #999;
}

.eduperiod {
    opacity: 0.6;
    margin-top: -10px;
    display: block;
}

.eduitem {
    margin-left: 3em;
}
